body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    color: #5b5b5b;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.92rem;
}

h3 {
    font-size: 1.9rem;
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5e5e5e;
}

#wrapper {
    background: #ffffff url(../img/img05.jpg) repeat;
    width: 100%;
}

/* Header */
#header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* Logo */
#logo {
    width: 100%;
    color: #ffffff;
}

#logo h1 {
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo h1 a {
    color: #1f1f1f;
    text-shadow: 1px 1px 0 px rgba(0, 0, 0, 0.2);
    border: none;
    background: none;
    text-decoration: none;
}

/* Nav */
nav {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 300;
    width: 100%;
}

nav ul {
    list-style: none;
    line-height: normal;
    padding-left: 0;
}

nav li {
    padding-bottom: 5px;
}

nav a:hover,
nav .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #ffffff;
}

.img {
    text-align: center;
    box-shadow: 5px 5px 3px #888888;
}

img {
    width: 100%;
    height: auto;
    max-width: 800px;
    text-shadow: 5% 5% 0 px rgba(0, 0, 0, 0.2);
}

/* Page */
#page {
    width: 90%;
    margin: 0 auto;
    padding: 2%;
}

.post {
    padding: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #e7ebed;
}

.post .title {
    padding: 7px 0 px 0 px 0 px;
    letter-spacing: -1px;
}

.post .title a {
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 5px;
    padding: 10px 0 px 0 px 0 px;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.post .entry {
    padding: 0 px 0 px 40 px 0 px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 20px;
}

.more {
    display: inline-block;
    width: 88px;
    padding: 5px 5px;
    margin-right: 10px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.comments {
    display: inline-block;
    width: 88px;
    padding: 5px 5px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    margin: 0 px;
    padding: 15px;
}

#sidebar ul {
    margin: 5px;
    padding: 0;
    list-style: none;
}

#sidebar li ul {
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 40px;
    border-bottom: 1px solid #e7ebed;
}

#sidebar h2 {
    padding: 0 px 0 px 30px 0 px;
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Footer */
#footer {
    height: 10%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Abel', sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}

#footer a {
    color: #5e5e5e;
}

@media all and (min-width: 550px) {
    nav ul li {
        display: inline;
        padding: 5px;
        margin-left: 0;
        text-align: center;

    }

    nav {
        width: 90%;
        padding: 5%;
    }
}

@media all and (min-width: 800px) {
    #logo h1 {
        margin-left: 10%;
        text-align: left;
        padding-top: 10px;
    }

    nav {
        width: 60%;
        float: right;
        padding: 5%;
    }
}

@media all and (min-width: 1000px) {
    #page {
        float: right;
        width: calc(100% / 3 * 2);
        padding: 5%;
    }

    #sidebar {
        padding: 2%;
        margin-top: 4%;
        width: 25%;
    }
}
